.maskimage {
    -webkit-mask-image: url('./assets/images/masking.png');
    mask-image: url('./assets/images/masking.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.slider-full .slick-dots {
    bottom: 10px;
}

.slider-full .slick-dots li button:before {
    font-size: 16px;
    opacity: 1;
    color: #a6a6a6 !important;
}

.slider-full .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #f1f1f1 !important;
}
ul.career_list li::marker {
  content: '✔';
}
ul.career_list li {
    padding-left: 10px;
}

.desc_content h4,
.desc_content h3,
.desc_content h2 {
  font-size: 24px;
  line-height: 30.72px;
  color: #1c1c1c;
  font-weight: bold;
  margin-bottom: 20px;
}

.desc_content p {
  font-size: 20px;
  line-height: 24.89px;
  color: #1c1c1c;
  font-weight: 400;
  margin-bottom: 20px;
}

.slick-list {
  padding: 0 10% 0 10% !important;
}

.desc_content p strong {
  font-weight: 600;
}

.desc_content ul {
  font-size: 20px;
  line-height: 24.89px;
  color: #1c1c1c;
  font-weight: 300;
  margin-bottom: 20px;
  list-style-type: disc;
  list-style-position: inside;
}

.desc_content ol {
  font-size: 20px;
  line-height: 24.89px;
  color: #1c1c1c;
  font-weight: 300;
  margin-bottom: 20px;
}

.desc_content a {
  text-decoration: underline;
}