@import "tailwindcss";

/* =========================
   BASE STYLES
========================= */
@layer base {
  :root {
    --title_Clr: #1C1C1C;
    --txt_Clr: #666666;
    --primary: #53B6C9;
    --secondary: #1C2E42;
  }

  @theme inline {
    --color-title_Clr: var(--title_Clr);
    --color-txt_Clr: var(--txt_Clr);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --backgroundImage-gradient-radial: radial-gradient(var(--tw-gradient-stops));
    --backgroundImage-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
  }

  *,
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .PoppinsBold {
    font-family: 'PoppinsBold', sans-serif;
  }

  a,
  .PoppinsMedium {
    font-family: 'PoppinsMedium', sans-serif;
  }

  p,
  li,
  span,
  .PoppinsRegular {
    font-family: 'PoppinsRegular', sans-serif;
  }
}

/* =========================
   FONTS
========================= */
@layer base {
  @font-face {
    font-family: 'PoppinsBold';
    src: url('/assets/fonts/Poppins-Bold.ttf');
  }

  @font-face {
    font-family: 'PoppinsMedium';
    src: url('/assets/fonts/Poppins-Medium.ttf');
  }

  @font-face {
    font-family: 'PoppinsRegular';
    src: url('/assets/fonts/Poppins-Regular.ttf');
  }

  @font-face {
    font-family: 'EffraMedium';
    src: url('/assets/fonts/Effra_Trial_Rg.ttf');
  }

  @font-face {
    font-family: 'SourceSansProRegular';
    src: url('/assets/fonts/SourceSansPro-Regular.ttf');
  }
}

/* =========================
   COMPONENTS
========================= */

  .container {
    max-width: 1440px;
  }

  .thumb-wrapper {
    @apply flex w-full gap-[11px] justify-center;
  }

  .thumb-wrapper>div {
    @apply w-full overflow-hidden transition-all max-w-[154px] max-h-[131px] rounded-[11px] border border-[#1C2E4230];
  }

  .thumb-wrapper img {
    @apply w-full h-full object-cover object-center;
  }

  .grad_Bg {
    background-image: linear-gradient(to bottom, #2B4FB9 50%, white 50%);
  }

  .about_bg {
    background-image: url('/images/about-page/bg.png');
  }

  .offerbg {
    background-image: url('/images/about-page/offer-bg.png');
  }

  .slider_bg {
    background-image: url('/images/about-page/slider-bg.svg');
  }

  .slider_bg2 {
    background: linear-gradient(40deg, #f47b62 15%, #ee3a79 79%);
  }

  .slider_bg3 {
    background: linear-gradient(40deg, #41b6db 15%, #8dc99a 79%);
  }

  .video-container {
    @apply w-full relative h-[605px];
  }

  .video-container iframe {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-screen h-[605px];
  }

  
/* width */
.max_content ::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.max_content ::-webkit-scrollbar-track {
  background-color: #9C9C9C;
  border-radius: 10px;
}

/* Handle */
.max_content ::-webkit-scrollbar-thumb {
  background: #1C2E42;
  border-radius: 10px;
}

/* Handle on hover */
.max_content ::-webkit-scrollbar-thumb:hover {
  background: #1C2E42;
}

.max_content .scroll_Left {
  direction: rtl;
  padding-left: 16px;
}

.max_content .scroll_Left p {
  direction: ltr;
}


/* =========================
   UTILITIES
========================= */
@layer utilities {
  .before_line {
    @apply relative md:before:block before:hidden before:content-[''] before:absolute before:h-full before:top-[92px] before:left-1/2 before:border-l before:border-dashed;
  }


}

.maskimage {
  -webkit-mask-image: url('/assets/images/masking.png');
  mask-image: url('/assets/images/masking.png');

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;
}