@import "tailwindcss";

/* =========================
   BASE STYLES
========================= */
@layer base {
  :root {
    --title_Clr: #1C1C1C;
    --txt_Clr: #666666;
    --primary: #53B6C9;
    --secondary: #1C2E42;
  }

  @theme inline {
    --color-title_Clr: var(--title_Clr);
    --color-txt_Clr: var(--txt_Clr);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --backgroundImage-gradient-radial: radial-gradient(var(--tw-gradient-stops));
    --backgroundImage-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
  }

  *,
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .PoppinsBold {
    font-family: 'PoppinsBold', sans-serif;
  }

  a,
  .PoppinsMedium {
    font-family: 'PoppinsMedium', sans-serif;
  }

  p,
  li,
  span,
  .PoppinsRegular {
    font-family: 'PoppinsRegular', sans-serif;
  }
}

/* =========================
   FONTS
========================= */
@layer base {
  @font-face {
    font-family: 'PoppinsBold';
    src: url('../fonts/Poppins-Bold.ttf');
  }

  @font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.ttf');
  }

  @font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.ttf');
  }

  @font-face {
    font-family: 'EffraMedium';
    src: url('../fonts/Effra_Trial_Rg.ttf');
  }

  @font-face {
    font-family: 'SourceSansProRegular';
    src: url('../fonts/SourceSansPro-Regular.ttf');
  }
}

/* =========================
   COMPONENTS
========================= */

.hale_container {
  @apply container mx-auto px-4 max-w-360;
}

.h1 {
  @apply md:text-6xl md:leading-tight text-3xl font-bold text-white mb-10;
}

.btn_primary {
  @apply bg-primary hover:bg-white px-5 py-4 text-lg font-medium text-white hover:text-primary rounded-full border-2 border-primary flex items-center gap-2 w-fit;
}

.hale_flex {
  @apply flex items-center md:flex-row flex-col gap-17.5;
}

.btn_secondry{
  @apply bg-secondary hover:bg-white px-9 py-3 text-lg font-medium text-white hover:text-secondary rounded-full border-2 border-secondary;
}
.h2{
  @apply md:text-[43px] md:leading-none text-3xl font-bold text-title_Clr text-center md:mb-14 mb-8;
}

.grad_Bg {
  background-image: linear-gradient(to bottom, #2B4FB9 50%, white 50%);
}

.about_bg {
  background-image: url('/images/about-page/bg.png');
}

.offerbg {
  background-image: url('/images/about-page/offer-bg.png');
}

.slider_bg {
  background-image: url('/images/about-page/slider-bg.svg');
}

.slider_bg2 {
  background: linear-gradient(40deg, #f47b62 15%, #ee3a79 79%);
}

.slider_bg3 {
  background: linear-gradient(40deg, #41b6db 15%, #8dc99a 79%);
}

.video-container {
  @apply w-full relative md:h-[605px];
}

.video-container video {
  @apply absolute inset-0 w-full h-full object-cover;
}

.image-slide {
  @apply absolute w-full rounded-2xl overflow-hidden h-[467px];
}
.slide_txt{
  @apply md:text-[29px] md:leading-[41px] text-lg font-normal text-title_Clr mb-2;
}
.slide_txt_overlay{
  @apply absolute right-0 left-3 bottom-0 top-[60%] bg-gradient-to-t from-white/90 via-white/80 to-transparent;
}
.rounded_img {
  @apply w-full h-full object-cover rounded-2xl scale-110;
}

.fixed_img {
  @apply mx-auto h-[467px] absolute z-[-1] scale-105 rounded-3xl left-1/2 -translate-x-1/2;
}
.img-full{
  @apply w-full h-full object-cover object-center;
}

.cat_link{
  @apply text-xl font-normal text-title_Clr text-center flex w-fit mx-auto mt-8;
}
.sub_title{
  @apply text-[#1C2E42] font-semibold flex gap-2 items-center mb-2;
}
.sub_title_line{
  @apply h-[3px] bg-[#1C2E42] w-16;
}

/* width */
.max_content ::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.max_content ::-webkit-scrollbar-track {
  background-color: #9C9C9C;
  border-radius: 10px;
}

/* Handle */
.max_content ::-webkit-scrollbar-thumb {
  background: #1C2E42;
  border-radius: 10px;
}

/* Handle on hover */
.max_content ::-webkit-scrollbar-thumb:hover {
  background: #1C2E42;
}

.max_content .scroll_Left {
  direction: rtl;
  padding-left: 16px;
}

.max_content .scroll_Left p {
  direction: ltr;
}


/* =========================
   UTILITIES
========================= */

.before_line {
  @apply relative md:before:block before:hidden before:absolute before:h-full before:top-[71px] before:left-1/2 before:border-l before:border-dashed before:border-primary;
}

.video_overlay {
  @apply md:py-44 py-24 bg-center bg-no-repeat bg-cover before:content-[''] before:absolute before:w-full before:bg-gradient-to-r before:from-black/90 before:from-30% before:via-black/70 before:h-full before:inset-0
}

.slick-slide {
  height: fit-content !important;
}