@import "tailwindcss";



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.container {
  max-width: 1440px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('../../public/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'PoppinsMedium';
  src: url('../../public/fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'PoppinsRegular';
  src: url('../../public/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'EffraMedium';
  src: url('../../public/fonts/Effra_Trial_Rg.ttf');
}

@font-face {
  font-family: 'SourceSansProRegular';
  src: url('../../public/fonts/SourceSansPro-Regular.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6,
.PoppinsBold {
  font-family: 'PoppinsBold';
}
a,.PoppinsMedium{
  font-family: 'PoppinsMedium';
}
p,
li,
span,
.PoppinsRegular {
  font-family: 'PoppinsRegular';
}

body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.thumb-wrapper {
  display: flex;
  width: 100%;
  gap: 11px;
  justify-content: center;
}

.thumb-wrapper>div {
  width: 100%;
  overflow: hidden;
  transition: all .1s;
  object-position: center;
  max-width: 154px;
  max-height: 131px;
  border-radius: 11px;
  border: 2px solid #1C2E4230;
  border-radius: 11px;
}

.thumb-wrapper>div.active {
  border: 2px solid #1C2E4230;
  border-radius: 11px;
}

.thumb-wrapper>div img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

/* width */
.max_content ::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.max_content ::-webkit-scrollbar-track {
  background-color: #9C9C9C;
  border-radius: 10px;
}

/* Handle */
.max_content ::-webkit-scrollbar-thumb {
  background: #1C2E42;
  border-radius: 10px;
}

/* Handle on hover */
.max_content ::-webkit-scrollbar-thumb:hover {
  background: #1C2E42;
}

.max_content .scroll_Left {
  direction: rtl;
  padding-left: 16px;
}

.max_content .scroll_Left p {
  direction: ltr;
}

.content .slick-next {
  right: 25px;
  z-index: 2;
}

.content .slick-prev {
  left: 25px;
  z-index: 2;
}

.content .slick-prev:before,
.content .slick-next:before {
  color: #000;
}

.grad_Bg {
  background-image: linear-gradient(to bottom, #2B4FB9 50%, white 50%);
}



.desc_content h4,
.desc_content h3,
.desc_content h2 {
  font-size: 24px;
  line-height: 30.72px;
  color: #1c1c1c;
  font-weight: bold;
  margin-bottom: 20px;
}

.desc_content p {
  font-size: 20px;
  line-height: 24.89px;
  color: #1c1c1c;
  font-weight: 400;
  margin-bottom: 20px;
}

.slick-list {
  padding: 0 10% 0 10% !important;
}

.desc_content p strong {
  font-weight: 600;
}

.desc_content ul {
  font-size: 20px;
  line-height: 24.89px;
  color: #1c1c1c;
  font-weight: 300;
  margin-bottom: 20px;
  list-style-type: disc;
  list-style-position: inside;
}

.desc_content ol {
  font-size: 20px;
  line-height: 24.89px;
  color: #1c1c1c;
  font-weight: 300;
  margin-bottom: 20px;
}

.desc_content a {
  text-decoration: underline;
}

.about_bg {
  background-image: url('../../public/images/about-page/bg.png');
}

.offerbg {
  background-image: url('../../public/images/about-page/offer-bg.png');
}

.slider_bg {
  background-image: url('../../public/images/about-page/slider-bg.svg');
}
.slider_bg2 {
  background: linear-gradient(40deg, rgba(244,123,98,1) 15%, rgba(238,58,121,1) 79%);
}
.slider_bg3 {
  background: linear-gradient(40deg, rgba(65,182,219,1) 15%, rgba(141,201,154,1) 79%);
}


.about .slick-dots {
  bottom: 1rem;
}

.about .slick-dots li button {
  background: #a6a6a6;
  border-radius: 100%;
  width: 14px;
  height: 14px;
}

.about .slick-dots li button:before {
  content: '';
}

.about .slick-dots li.slick-active button {
  background: #f1f1f1;
}

.Main_slider .slick-dots {
  bottom: 1.5rem;
}

.Main_slider .slick-dots li button:before {
  opacity: .75;
  color: #fff;
  font-size: 10px;
}

.Main_slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fff;
  font-size: 10px;
}

.slider-container .slick-dots li button:before {
  opacity: .75;
  color: #9c9c9c;
  font-size: 10px;
}

.slider-container .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #53B6C9;
  font-size: 10px;
}

.before_line {
  @apply md:before:block before:hidden before:content-[""] before:absolute before:h-full before:w-0 before:top-[92px] left-1/2 before:border-l before:border-dashed before:border-primary
}

ul.career_list li {
  padding-left: 10px;
}

ul.career_list li::marker {
  content: '✔';
}

.Main_slider .slick-list {
  padding: 0 !important;
}

.single .slick-list,
.testimonials .slick-list,
.about .slick-list {
  padding: 0 !important
}

.singleproducts::-webkit-scrollbar {
  display: none;
}

.video-container {
  width: 100%;
  height: 605px;
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 605px;
  transform: translate(-50%, -50%);
}

video {
  width: 100vw !important;
  left: 0 !important;
}

.ytp-watermark,
.ytp-title-text {
  display: none !important;
}

.maskimage{
  mask-image: url('../../public/masking.png');
  -webkit-mask-image: url('../../public/masking.png');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}