@import "tailwindcss";

/* =========================
   BASE STYLES
========================= */
@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  *,
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  h1, h2, h3, h4, h5, h6,
  .PoppinsBold {
    font-family: 'PoppinsBold';
  }

  a, .PoppinsMedium {
    font-family: 'PoppinsMedium';
  }

  p, li, span,
  .PoppinsRegular {
    font-family: 'PoppinsRegular';
  }
}

/* =========================
   FONTS
========================= */
@layer base {
  @font-face {
    font-family: 'PoppinsBold';
    src: url('/fonts/Poppins-Bold.ttf');
  }

  @font-face {
    font-family: 'PoppinsMedium';
    src: url('/fonts/Poppins-Medium.ttf');
  }

  @font-face {
    font-family: 'PoppinsRegular';
    src: url('/fonts/Poppins-Regular.ttf');
  }

  @font-face {
    font-family: 'EffraMedium';
    src: url('/fonts/Effra_Trial_Rg.ttf');
  }

  @font-face {
    font-family: 'SourceSansProRegular';
    src: url('/fonts/SourceSansPro-Regular.ttf');
  }
}

/* =========================
   COMPONENTS
========================= */
@layer components {
  .container {
    max-width: 1440px;
  }

  .thumb-wrapper {
    @apply flex w-full gap-[11px] justify-center;
  }

  .thumb-wrapper > div {
    @apply w-full overflow-hidden transition-all max-w-[154px] max-h-[131px]
           rounded-[11px] border border-[#1C2E4230];
  }

  .thumb-wrapper img {
    @apply w-full h-full object-cover object-center;
  }

  .grad_Bg {
    background-image: linear-gradient(to bottom, #2B4FB9 50%, white 50%);
  }

  .about_bg {
    background-image: url('/images/about-page/bg.png');
  }

  .offerbg {
    background-image: url('/images/about-page/offer-bg.png');
  }

  .slider_bg {
    background-image: url('/images/about-page/slider-bg.svg');
  }

  .slider_bg2 {
    background: linear-gradient(40deg, #f47b62 15%, #ee3a79 79%);
  }

  .slider_bg3 {
    background: linear-gradient(40deg, #41b6db 15%, #8dc99a 79%);
  }

  .video-container {
    @apply w-full relative h-[605px];
  }

  .video-container iframe {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
           w-screen h-[605px];
  }
}

/* =========================
   UTILITIES
========================= */
@layer utilities {
  .before_line {
    @apply relative md:before:block before:hidden before:content-['']
           before:absolute before:h-full before:top-[92px] before:left-1/2
           before:border-l before:border-dashed;
  }

  .maskimage {
    mask-image: url('/masking.png');
    -webkit-mask-image: url('/masking.png');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
  }
}
